@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #dbdad8;
}
.header{
    
}
.search-bar {
    width: 50%;
    height: 50px;
    padding: 12px 20px;
    font-size: medium;
    margin: 30px 100px;
    border: 1px solid rgb(214, 208, 208);
    border-radius: 4px;
    box-sizing: border-box;
}
.selector{
    width: 10%;
    height: 50px;
    padding: 12px 10px;
    font-size: medium;
    margin: 30 auto;
    border: 1px solid rgb(214, 208, 208);
    border-radius: 4px;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: grid;
}
.up-content,.down-content{
    flex-basis: 50%;
}
.up-content{
    display: grid;
    height: 50%;
    grid-template-columns: repeat(auto-fit,minmax(180px,0.3fr));
    grid-gap:5rem;
}
.card{
    width: 300px;
    background-color:#aa8ce4;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.down-content{
    margin: auto;
    width: 50%;
    text-align: center;
    color: black;
    /* position: fixed; */
    top:100px;
    right: 10px;
}
.down-content img{
    margin: 1.5rem;
    height: 160px;
}
.down-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
    margin: auto;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 0 14rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #91b745;
    border-radius: 10px;
}
.info-button{
    font-size: 17px;
    float: right;
    border: 2px solid black;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 0, 123);
}
